<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instagrom</title>
</head>
<body>
    <h2>Jo-sus/h2>
<p> Ingrese su usuario y contraseña en las siguientes casillas</p>

<form action="/Confirmacion" method="POST">
<input type="text" name="Usuario" placeholder="Usuario" required>
<br>
<input type="password" name="Contrasena" placeholder="Contraseña" required>
    <br>
    <input type="submit" value="Iniciar Sesion">
    <br>
    <br>
</form>
	<span>---------------------------------</span>
    <br>
    <br>
    <a href="/Registro"><button>Registro</button></a>

</body>
</html>