<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instagrom</title>
</head>
<body>
    <span class="coreSpriteFacebookIconInverted cneKx"></span>
    <h2>Instagrom</h2>
<p> Ingrese su usuario y contraseña en las siguientes casillas</p>

<form action="">
<input type="text" name="Usuario" placeholder="Usuario">
<br>
<input type="password" name="Contrasena" placeholder="Contraseña">
	<br>
    <PRE>
    <a ><button>Enviar</button></a>
    </PRE>
<br><br>
</form>
	<span>---------------------------------</span>
    <br>
    <br>
 <a href="/Registro"><button>Registro</button></a>

</body>
</html>