<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
</head>
<body>
    <h2>Registro</h2>
<form action="/" method="POST">
    <input type="text" name="Usuario" placeholder="Usuario" required>
    <br>
    <input type="text" name="Contrasena" placeholder="Contraseña" required>
    <br>
    <input type="email" name="Email" placeholder="Email" required>
    <br>
    <input type="text" name="Nombre" placeholder="Nombre" required>
    <br>
    <input type="text" name="Bio" placeholder="Biograchota" required>
    <br>
    <PRE>
    <a href="Registro.html" methods="post"><button>Enviar</button></a>
    </PRE>
</form>
</body>
</html>