<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Cabin" />
    <link rel="stylesheet" href="../static/css/Iniciar.css">
    <link rel="stylesheet" href="../static/css/SubirFotos.css">.
    <title>Registro</title>
    <h1><center>Registro</center></h1>
</head>
<body background="../static/css/53766hd.png">
<div class = center>

<div class = "a">
    <br>
    <div style="text-align:center;">
    <form action="/Registrado?HTML=1" method="POST">
    <input type="text" name="Usuario" style="text-align:center;" placeholder="Usuario" required>
    <br>
    <input type="text" name="Contrasena" style="text-align:center;" placeholder="Contraseña" required>
    <br>
    <input type="email" name="Email" style="text-align:center;" placeholder="Email" required>
    <br>
    <input type="text" name="Nombre" style="text-align:center;" placeholder="Nombre" required>
    <br>
    <input type="text" name="Bio" style="text-align:center;" placeholder="Biograchota" required>
    <br>
    <br>
    <input type="submit" value="Registrarse">
    </form>
    </div>
    </div>
</div>
</body>
</html>
