<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
</head>
<body>
    <span class="coreSpriteFacebookIconInverted cneKx"></span>
    <h2>Registro</h2>
<form action="/action_page.php">
<input type="text" name="Usuario" placeholder="Usuario">
<br>
<input type="password" name="Contrasena" placeholder="Contraseña">
    <br>
    <input type="text" name="Email" placeholder="Email">
    <br>
    <input type="text" name="Nombre" placeholder="Nombre">
    <br>
    <input type="text" name="biografia" placeholder="Biografia">
    <a ><button>Enviar</button></a>
<br><br>
</form>
</body>
</html>