<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/main.css">
<meta charset="UTF-8">
<title>Jo-sus</title>
</head>

<body>

<ul>
  <li><a href="/Inicio"> <i class="fas fa-camera"></i> Jo-sus</a></li>
   <ul>
    <li>
      <a href="#"><i class="far fa-user"></i></a>
      <ul>
        <li><a href="/EditarPerfil"> <i class="fas fa-cogs"></i>Editar Perfil</a></li>
        <li><a href="/SubirPost"> <i class="far fa-image"></i>Subir Post</a></li>
      </ul>
    </li>
         <li style="float:right"><a class="active" href="/LogOut"><i class="fas fa-power-off"></i></a></li>

  </ul>
</ul>
<br>
<br>

{% for publicacion in PostSeleccionado %}
    <div class = center>
    <div>
    <a name="p{{publicacion.idPost}}"/>
    <h6>{{publicacion.NombreVisibleUsuario()}}</h6>
    <h6> <i class="fas fa-map-marker-alt"></i> {{publicacion.Ubicacion_Post}}</h6>
    <img src="/static/img/{{publicacion.URL_post}}" height="600" width="600" class="center">
    <h6>{{publicacion.Fecha_Creacion_Post}}</h6>
    <br>
    <a href="/Like?IdPost={{publicacion.idPost}}"><button>Like</button></a>
    <h6>{{publicacion.NumeroDeLikes}}</h6>
    <h6>{{publicacion.NombreVisibleUsuario()}} : {{publicacion.Descripcion_Post}}</h6>
    <form action="/Comentario?IdPost={{publicacion.idPost}}" method="POST">
        <input type="text" name="Comentario"><input type="submit" value="Comentar">
    </form>
    {% for Comentario in CommentSeleccionado %}
        <h6>{{Comentario.Usuario.NombreVisible}} : {{Comentario.Descripcion}}</h6> <a href="/BorrarComentario?IdPost={{publicacion.idPost}}&IdComment={{Comentario.idComment}}"><button>BorrarComentario</button></a>
        <br>
    {% endfor %}
    </div>
    </div>
{% endfor %}
</body>
</html>
